@font-face{
	font-family: "iosevka";
	src: url("fonts/iosevka-regular.ttf");
}

@font-face{
	font-family: "jetbrains mono";
	src: url("fonts/JetBrainsMono-Thin.ttf");
}

@font-face{
	font-family: "jetbrains mono bolder";
	src: url("fonts/JetBrainsMono-Light.ttf");
}

@keyframes cursorBlink{
	0%, 10%{opacity: 1}

	50%{opacity:0}

	100%{opacity: 1}
}

body{
	background-image: url("bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	overflow: hidden;
}

#settings{
	color: white;
	font-family: "jetbrains mono bolder";
	position: absolute;
	top: 92px;
	left: 16px;
	width: 350px;
	box-shadow: 0 0 20px black;
	overflow: hidden;
	border-radius: 10px;

}

#optionsContainer{
	padding-top: 15px;
	overflow-y: scroll;
	max-height: 335px;
	display: block;
	background-color: rgb(20, 20, 20);
	align-content: center;
}

#optionsContainer *{
	display: inline;
	font-weight: 100;
	margin-left: 20px;
}

#optionsContainer input{
	cursor: pointer;
	margin-left: -5px;
}

#optionsContainer::-webkit-scrollbar {
  	display: none;
}

.tabMenu{
	background-color: rgb(35, 35, 35);
	height: 50px;
	position: sticky;
	top: 0;
	box-shadow: 0 0 5px black;
	user-select: none;
}

.exitCircle, .maxCircle, .smallCircle{
	width: 20px;
	height: 20px;
	border-radius: 25px;
	position: absolute;
	cursor: pointer;
}

.exitCircle{
	left: 23px;
	top: 15px;
	background-color: #FF605C;
}

.maxCircle{
	left: 53px;
	top: 15px;
	background-color: #FFBD44;
}

.smallCircle{
	left: 83px;
	top: 15px;
	background-color: #00CA4E;
}

.tabTitle{
	font-family: monospace;
	color: white;
	font-weight: 100;
	font-size: 20px;
	position: absolute;
	z-index: 5;
	left:50%;
	transform: translate(-50%)
}

.fullScreen{
	width: 30px;
	height: 30px;
	background-color: rgb(12, 12, 12);
	border-radius: 5px;
	color: white;
	text-align: center;
	font-family: "iosevka";
	font-weight: 700;
	position: relative;
	top: 10px;
	float: right;
	margin-right: 12px;
	line-height: 30px;
	cursor: pointer;
}

#title{
	color: white;
	font-family: "jetbrains mono";
	text-align: center;
	font-size: 4rem;
	margin-bottom: -10px;
	margin-top: -10px;
	font-weight: 50;
	transform: perspective(400px) rotateX(10deg);
	user-select: none;
}

@keyframes editorAnim{
	0%{margin-top:10px}
	50%{margin-top:40px}
	100%{margin-top:10px}
}

#codeEditor{
	width: 600px;
	height: 400px;
	margin: auto;
	margin-top: 20px;
	background: rgb(20, 20, 20);
	overflow-y: auto;
	overflow-x: auto;
	border-radius: 10px;
	box-shadow: 0 0 20px black;
	font-weight: 550;
	-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

#codeEditor::-webkit-scrollbar {
  display: none;
}


.codeEditorAnim{
	animation: editorAnim 2s infinite ease-in-out;
}

#lineNumber{ /*all line numbers*/
	max-width: 60px;
}

.lineNumber{
	margin-left: 30px;
	margin-top: 1px;
	margin-bottom: 10px;
	font-family: "iosevka";
	color: white;
	font-size: 16px;
	float: left;
}

#textEditor{ /*part where code is written*/
	margin-left: 60px;
	top: 0;
	margin-top: 11px;
	color: white;
	font-family: "iosevka";
	font-size: 16px;
	letter-spacing: 1px;
}

.textEditorLine{
	margin-top: 11px;
	height: 20px;
}

#editorCursor{
	width: 8px;
	height: 14px;
	background-color: orange;
	position: absolute;
	padding-bottom: 5.5px;
	margin-top: 0px;
	margin-left: 0px;
}

.editorCursorBlend{
	mix-blend-mode: difference;
}

.editorCursorAnim{
	animation: 1s cursorBlink step-end infinite;
}
